<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head::head">
</head>
<title>Carga de Editoriales</title>
<link rel="stylesheet" href="/css/editorial.css"/>
<body>
<div class="contenedor">
    <header>
        <div class="cont__imagen">
            <img src="/img/centenario.png" alt=""/>
        </div>
        <div class="cont_menu">
            <nav th:replace="/fragments/navbar :: nav"></nav>
        </div>
    </header>
</div>

<div class="container">
    <div class="titulo">
        <h3>Carga de editorial</h3>
    </div>
    <form action="/editorial/registro" class="form-group" method="POST">
        <input type="text" class="entrada" name="editorial" placeholder="Ingresa la editorial"></input>
        <div class="cargaEditorial" th:if="${error != null}">
            <h5>Error al cargar editorial</h5>
            <p th:text="${error}"></p>
        </div>
        <input type="submit" value="Enviar" class="btn btn-primary">
    </form>

</div>
</body>
</html>
