<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head::head">
</head>
<title>Listado de Editoriales</title>
<link rel="stylesheet" href="/css/editoriallist.css"/>
<body>
<div class="contenedor">
    <header>
        <div class="cont__imagen">
            <img src="/img/centenario.png" alt=""/>
        </div>
        <div class="cont_menu">
            <nav th:replace="/fragments/navbar::nav"></nav>
        </div>
    </header>

    <div class="bienvenida">
        <h3>Listado de Editoriales <i class="fa-solid fa-feather test"></i></h3>
    </div>
</div>

<div class="contenedor_libro">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Editorial</th>
            <th sec:authorize="hasRole('ADMIN')">Modificar Editorial</th>
        </tr>
        </thead>
        <tbody th:each="editorial: ${listaEditorial}">
        <tr>
            <td th:text="${editorial.id}"></td>
            <td th:text="${editorial.nombre}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/editorial/modificar/__${editorial.id}__}"><i
                        class="fa-solid fa-feather"></i>Modificar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
</html>
