@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
    margin: 0;
    padding: 0;
    background: url(/img/libros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins";
}
.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgba(102, 51, 153, 0.492);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.5);
}
.cont__imagen {
    width: 150px;
    height: 100px;
}
.cont__imagen img {
    width: 100%;
    height: 100%;
}
.cont_menu {
    width: 60%;
}
.menu {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    justify-content: space-around;
}
.menu li {
    background-color: darkmagenta;
    padding: 5px 15px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgba(253, 253, 253, 0.5);
    list-style: none;
    margin: 5px;
}
.menu li a {
    text-decoration: none;
    color: white;
    margin: 0 5px;
}
.menu li i {
    color: white;
}
.container {
    width: 400px;
    height: 270px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/img/form.png);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.8);
    color: rgb(16, 27, 131);
    padding: 15px;
}
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-group {
    margin: 10px;
    text-align: center;
    border-radius: 4px;
}
.btn{
    padding: 10px 25px;
    border-radius: 8px;
    background: darkmagenta;
    color: white;
    border: none;
    border: 2px solid white;
    border-color:white;
    text-transform:uppercase;
    margin: 5px;
}
.btn a{
    text-decoration: none;
    color: white;
}
.titulo{
    color: white;
    text-shadow:1px 2px 2px black;
    font-size: 1.3rem;
}
.input{
    width: 300px;
    height: 30px;
    font-size: 1.3rem;
}