body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("/img/banner.jpg");
}
.contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/img/form.png");
    background-size: cover;
    background-position: top;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 3px 2px white;

}
.formulario >*{
    margin: 20px 0;
    font-size: 1rem;
}
.btn{
    padding: 10px 20px;
    background-color: beige;
    border: 2px solid black;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
}
.btn:hover{
    background-color: black;
    border-color :beige;
    color: beige;
}
.formulario [type="text"],[type="password"]{
    height: 30px;
    background-color: beige;
    border-radius: 6px;
}

.error {
    background-color: rgba(139, 0, 0, 0.65);
    color: beige;;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 20px 2px darkred;
}